body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d41c1c;
    color: white;
    padding: 5px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.header-icons {
    display: flex;
    align-items: center;
    margin-right: 25px;
    transition: margin-right 0.3s ease;
}

.header-icons img {
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

main {
    padding: 20px;
    width: 80%;
    margin: 80px auto 0; /* Para evitar que el contenido se superponga con el header */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.items {
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.arrow {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.arrow:hover {
    background-color: #b6b6b6;
}

h2 {
    color: #333;
    text-align: center;
}

.menu-plegable {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1001;
}

.menu-plegable .menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #222; /* Tono más oscuro */
    border-bottom: 1px solid #555;
}

.menu-plegable .menu-header .user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.menu-plegable .menu-options {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Separación de las funciones del menú */
    background-color: #333; /* Fondo del resto del menú */
}

.menu-plegable .menu-options li {
    padding: 15px 20px;
    cursor: pointer;
}

.menu-plegable .menu-options li:hover {
    background-color: #555;
}

.busqueda {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    display: none;
    z-index: 1000;
}

.busqueda input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.busqueda .filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.busqueda .filtros label {
    flex: 1 1 100%;
}

.busqueda .filtros input[type="text"] {
    flex: 1 1 calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.busqueda button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.busqueda button:hover {
    background-color: #555;
}

.notifications {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(100%); /* Escondido fuera de la pantalla al lado derecho */
    transition: transform 0.3s ease; /* Transición para el despliegue */
    z-index: 1001;
}

.notifications h3 {
    margin: 0;
    padding: 10px;
    background-color: #222; /* Tono más oscuro para el encabezado */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notifications ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notifications li {
    padding: 15px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.notifications li:hover {
    background-color: #555;
}

footer {
    width: 100%;
    height: 25px;
    background-color: #559e33;
    position: fixed;
    bottom: 0;
}