body {
    font-family: Arial, sans-serif;
    background-color: #272424;
    /* added a light gray background color */
}

.container {
    width: 80%;
    /* adjust the width to your liking */
    margin: 40px auto;
    padding: 20px;
    background-color: #d7d7e2;
    /* white background for the container */
    border: 1px solid #ffffff;
    /* light gray border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.client-data {
    background-color: #d0cfe5;
    /* white background for the client data section */
    padding: 20px;
    border: 1px solid #000000;
    /* light gray border */
    border-radius: 10px;
    margin-bottom: 20px;
}

.field-container {
    background-color: #abafdf;
    /* white background for the field container */
    padding: 10px;
    border: 1px solid #000000;
    /* light gray border */
    border-radius: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}